/*
 * Icon Font Arlo-starter-template--Master
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */


@font-face {
  font-family: "Arlo-starter-template--Master";
  src: url("../fonts/arlo-icons.eot");
  src: url("../fonts/arlo-icons.eot?#iefix") format("embedded-opentype"),
       url("../fonts/arlo-icons.woff2") format("woff2"),
       url("../fonts/arlo-icons.woff") format("woff"),
       url("../fonts/arlo-icons.ttf") format("truetype"),
       url("../fonts/arlo-icons.svg#Arlo-starter-template--Master") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Arlo-starter-template--Master";
    src: url("../fonts/arlo-icons.svg#Arlo-starter-template--Master") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8, [data-icons8]:before,
.icons8-about:before,
.icons8-arlo-logo-font:before,
.icons8-back:before,
.icons8-back-to:before,
.icons8-beach-umbrella:before,
.icons8-building:before,
.icons8-business-building:before,
.icons8-buying:before,
.icons8-buying-2:before,
.icons8-calendar:before,
.icons8-cancel:before,
.icons8-cancel-filled:before,
.icons8-certificate:before,
.icons8-chevron-left:before,
.icons8-chevron-left-filled:before,
.icons8-chevron-right:before,
.icons8-chevron-right-filled:before,
.icons8-chevron-up:before,
.icons8-chevron-up-filled:before,
.icons8-circled-dot:before,
.icons8-circled-play:before,
.icons8-circled-play-filled:before,
.icons8-clear-filters:before,
.icons8-clock:before,
.icons8-cocktail:before,
.icons8-collapse-arrow:before,
.icons8-contact-us:before,
.icons8-delete:before,
.icons8-delete-filled:before,
.icons8-department:before,
.icons8-diploma:before,
.icons8-down-button:before,
.icons8-drag-list-down:before,
.icons8-error:before,
.icons8-exercise:before,
.icons8-expand-arrow:before,
.icons8-facebook-filled:before,
.icons8-filter:before,
.icons8-forward:before,
.icons8-generic-mouse:before,
.icons8-gift:before,
.icons8-handshake:before,
.icons8-headset:before,
.icons8-headset-filled:before,
.icons8-help:before,
.icons8-id-verified:before,
.icons8-increase:before,
.icons8-info:before,
.icons8-label:before,
.icons8-left:before,
.icons8-link:before,
.icons8-linkedin-filled:before,
.icons8-login:before,
.icons8-logout-rounded-down:before,
.icons8-marker:before,
.icons8-medal-first-place:before,
.icons8-menu:before,
.icons8-menu-filled:before,
.icons8-message:before,
.icons8-monitor:before,
.icons8-mouse:before,
.icons8-multiply:before,
.icons8-multiply-filled:before,
.icons8-next:before,
.icons8-next-filled:before,
.icons8-next-page:before,
.icons8-open-sign:before,
.icons8-organization:before,
.icons8-parachute:before,
.icons8-personal-trainer:before,
.icons8-play:before,
.icons8-play-filled:before,
.icons8-positive-dynamic:before,
.icons8-presentation:before,
.icons8-price-tag:before,
.icons8-price-tag-filled:before,
.icons8-price-tag-usd:before,
.icons8-price-tag-usd-filled:before,
.icons8-prize:before,
.icons8-property-time:before,
.icons8-right:before,
.icons8-right-2:before,
.icons8-schedule:before,
.icons8-share:before,
.icons8-shop:before,
.icons8-shopping-cart:before,
.icons8-shopping-cart-2:before,
.icons8-sign-out:before,
.icons8-signin:before,
.icons8-slide-up:before,
.icons8-small-business:before,
.icons8-sort-down:before,
.icons8-sort-down-filled:before,
.icons8-sort-up:before,
.icons8-sort-up-filled:before,
.icons8-start:before,
.icons8-start-filled:before,
.icons8-steam-engine:before,
.icons8-stick-fighting:before,
.icons8-subway:before,
.icons8-sustainability:before,
.icons8-test-tube:before,
.icons8-training:before,
.icons8-training-filled:before,
.icons8-tv:before,
.icons8-tv-show:before,
.icons8-twitter-filled:before,
.icons8-unchecked-checkbox:before,
.icons8-university:before,
.icons8-us-dollar:before,
.icons8-user:before,
.icons8-user-filled:before,
.icons8-user-groups:before,
.icons8-video-conference:before {
  display: inline-block;
  font-family: "Arlo-starter-template--Master";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-about:before { content: "\f163"; }
.icons8-arlo-logo-font:before { content: "\f172"; }
.icons8-back:before { content: "\f110"; }
.icons8-back-to:before { content: "\f15a"; }
.icons8-beach-umbrella:before { content: "\f114"; }
.icons8-building:before { content: "\f181"; }
.icons8-business-building:before { content: "\f17c"; }
.icons8-buying:before { content: "\f175"; }
.icons8-buying-2:before { content: "\f177"; }
.icons8-calendar:before { content: "\f129"; }
.icons8-cancel:before { content: "\f16b"; }
.icons8-cancel-filled:before { content: "\f16c"; }
.icons8-certificate:before { content: "\f187"; }
.icons8-chevron-left:before { content: "\f103"; }
.icons8-chevron-left-filled:before { content: "\f102"; }
.icons8-chevron-right:before { content: "\f106"; }
.icons8-chevron-right-filled:before { content: "\f107"; }
.icons8-chevron-up:before { content: "\f104"; }
.icons8-chevron-up-filled:before { content: "\f105"; }
.icons8-circled-dot:before { content: "\f158"; }
.icons8-circled-play:before { content: "\f144"; }
.icons8-circled-play-filled:before { content: "\f145"; }
.icons8-clear-filters:before { content: "\f134"; }
.icons8-clock:before { content: "\f101"; }
.icons8-cocktail:before { content: "\f11f"; }
.icons8-collapse-arrow:before { content: "\f112"; }
.icons8-contact-us:before { content: "\f17d"; }
.icons8-delete:before { content: "\f16f"; }
.icons8-delete-filled:before { content: "\f170"; }
.icons8-department:before { content: "\f182"; }
.icons8-diploma:before { content: "\f186"; }
.icons8-down-button:before { content: "\f159"; }
.icons8-drag-list-down:before { content: "\f132"; }
.icons8-error:before { content: "\f166"; }
.icons8-exercise:before { content: "\f11e"; }
.icons8-expand-arrow:before { content: "\f10f"; }
.icons8-facebook-filled:before { content: "\f15f"; }
.icons8-filter:before { content: "\f133"; }
.icons8-forward:before { content: "\f111"; }
.icons8-generic-mouse:before { content: "\f150"; }
.icons8-gift:before { content: "\f127"; }
.icons8-handshake:before { content: "\f12a"; }
.icons8-headset:before { content: "\f10c"; }
.icons8-headset-filled:before { content: "\f10d"; }
.icons8-help:before { content: "\f164"; }
.icons8-id-verified:before { content: "\f12e"; }
.icons8-increase:before { content: "\f11b"; }
.icons8-info:before { content: "\f162"; }
.icons8-label:before { content: "\f184"; }
.icons8-left:before { content: "\f168"; }
.icons8-link:before { content: "\f154"; }
.icons8-linkedin-filled:before { content: "\f15e"; }
.icons8-login:before { content: "\f179"; }
.icons8-logout-rounded-down:before { content: "\f17b"; }
.icons8-marker:before { content: "\f100"; }
.icons8-medal-first-place:before { content: "\f116"; }
.icons8-menu:before { content: "\f130"; }
.icons8-menu-filled:before { content: "\f131"; }
.icons8-message:before { content: "\f153"; }
.icons8-monitor:before { content: "\f10e"; }
.icons8-mouse:before { content: "\f14f"; }
.icons8-multiply:before { content: "\f16d"; }
.icons8-multiply-filled:before { content: "\f16e"; }
.icons8-next:before { content: "\f14a"; }
.icons8-next-filled:before { content: "\f14b"; }
.icons8-next-page:before { content: "\f15c"; }
.icons8-open-sign:before { content: "\f126"; }
.icons8-organization:before { content: "\f17e"; }
.icons8-parachute:before { content: "\f113"; }
.icons8-personal-trainer:before { content: "\f13e"; }
.icons8-play:before { content: "\f146"; }
.icons8-play-filled:before { content: "\f147"; }
.icons8-positive-dynamic:before { content: "\f115"; }
.icons8-presentation:before { content: "\f119"; }
.icons8-price-tag:before { content: "\f136"; }
.icons8-price-tag-filled:before { content: "\f137"; }
.icons8-price-tag-usd:before { content: "\f138"; }
.icons8-price-tag-usd-filled:before { content: "\f139"; }
.icons8-prize:before { content: "\f189"; }
.icons8-property-time:before { content: "\f12d"; }
.icons8-right:before { content: "\f169"; }
.icons8-right-2:before { content: "\f155"; }
.icons8-schedule:before { content: "\f11c"; }
.icons8-share:before { content: "\f152"; }
.icons8-shop:before { content: "\f125"; }
.icons8-shopping-cart:before { content: "\f174"; }
.icons8-shopping-cart-2:before { content: "\f176"; }
.icons8-sign-out:before { content: "\f17a"; }
.icons8-signin:before { content: "\f178"; }
.icons8-slide-up:before { content: "\f15b"; }
.icons8-small-business:before { content: "\f128"; }
.icons8-sort-down:before { content: "\f108"; }
.icons8-sort-down-filled:before { content: "\f109"; }
.icons8-sort-up:before { content: "\f10a"; }
.icons8-sort-up-filled:before { content: "\f10b"; }
.icons8-start:before { content: "\f14c"; }
.icons8-start-filled:before { content: "\f14d"; }
.icons8-steam-engine:before { content: "\f122"; }
.icons8-stick-fighting:before { content: "\f120"; }
.icons8-subway:before { content: "\f121"; }
.icons8-sustainability:before { content: "\f12b"; }
.icons8-test-tube:before { content: "\f11d"; }
.icons8-training:before { content: "\f140"; }
.icons8-training-filled:before { content: "\f13f"; }
.icons8-tv:before { content: "\f148"; }
.icons8-tv-show:before { content: "\f149"; }
.icons8-twitter-filled:before { content: "\f160"; }
.icons8-unchecked-checkbox:before { content: "\f157"; }
.icons8-university:before { content: "\f12c"; }
.icons8-us-dollar:before { content: "\f13a"; }
.icons8-user:before { content: "\f141"; }
.icons8-user-filled:before { content: "\f142"; }
.icons8-user-groups:before { content: "\f17f"; }
.icons8-video-conference:before { content: "\f123"; }