/* Resets */

.arlo#arlo,
.arlo .dark-tooltip,
.arlo-widget-upcoming,
.arlo-categories-widget {
    font-size: 14px;
    font-weight: normal;
    padding: 1em 0;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
}

.arlo#arlo *,
.arlo .dark-tooltip *,
.arlo-widget-upcoming *,
.arlo-categories-widget * {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    border: none;
    font-style: inherit;
    color: inherit;
    box-shadow: none;
    border: none;
    background-image: none;
    letter-spacing: inherit;
    text-transform: inherit;
}

.arlo#arlo a,
.arlo-widget-upcoming a,
.arlo-categories-widget a {
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
}

.arlo#arlo a:hover,
.arlo-widget-upcoming a:hover,
.arlo-categories-widget a:hover {
    text-decoration: underline;
}

.arlo#arlo h1, 
.arlo#arlo h2, 
.arlo#arlo h3, 
.arlo#arlo h4, 
.arlo#arlo h5, 
.arlo#arlo h6, 
.arlo#arlo p {
    margin: .5em 0;
}

.arlo#arlo h1 {
    font-size: 2.8em;
}

.arlo#arlo h2 {
    font-size: 2.5em;
}

.arlo#arlo h3 {
    font-size: 2em;
}

.arlo#arlo h4 {
    font-size: 1.8em;
}

.arlo#arlo h5 {
    font-size: 1.5em;
}

.arlo#arlo h6 {
    font-size: 1.2em;
}

.arlo#arlo select {
    background-image: none;
    -webkit-appearance: menulist;
    appearance: menulist;
    -moz-appearance: menulist;
}



/* Fonts */

.arlo#arlo,
.arlo#arlo .arlo-font1,
.arlo .dark-tooltip,
.arlo-widget-upcoming,
.arlo-categories-widget {
    font-family: inherit;
}

.arlo#arlo .arlo-font2,
.arlo-widget-upcoming .arlo-cal.arlo-left {
    font-family: inherit;
}



/* Catalogue */

.arlo#arlo .arlo-list.catalogue .arlo-cf.arlo-group-divider h2 {
    font-size: 2em;
}



/* Upcoming events list */

.arlo#arlo .upcoming .arlo-event-name {
    line-height: 1;
}
