.arlo{
    &.arlo-event{
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
    &-event{
        display: flex;
        flex-direction: column;
        &-basic{
            display: flex;
            flex-direction: row;
            height: 574px;
            background-color: var(--primary-theme-color);
            color: var(--primary-light-text-color);
            &-cover{
                flex: 1;
                background-color: gray;
                background-size: cover;
                background-position: center;
            }
            &-info{
                flex: 1;
                
                &>div{
                    width: 600px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 20px;
                    padding: 40px;
                    &>h1{
                        font-size: 40px;
                        color: var(--primary-light-text-color);
                    }
                    &>p{
                        font-size: 18px;
                        margin-top: 24px;
                    }
                }
                .arlo-tags{
                    span{
                        color: var(--primary-light-text-color);
                        border-color: var(--primary-light-text-color);
                        background-color: transparent;
                    }
                }
                
                &-detail{
                    margin-top: 24px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    &-left{
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        &>div{
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                        }
                    }
                    &-right{
                        flex: 1;
                        display: flex;
                        flex-direction: row;
                    }
                    i,svg{
                        width: 16px;
                        height: 16px;
                        background-position: center;
                        background-size: center;
                        display: inline-block;
                        margin-right: 8px;
                    }
                }
            }
        }
        &-filter{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 64px;
            margin-bottom: 32px;
        }
        &-section{
            display: flex;
            flex-direction: row;
            margin-bottom: 48px;
            gap: 48px;
            &-title{
                font-size: 23px;
                background-color: var(--primary-gray);
                border-left: 4px solid var(--primary-theme-color);
                padding-left: 10px;
                width: 300px;
                padding: 8px 16px;
                box-sizing: border-box;
            }
            &-content{
                flex: 1;
                display: flex;
                flex-direction: column;
                hr{
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid var(--primary-card-border-color);
                    margin-bottom: 32px;
                }
                p{
                    font-size: 16px;
                    color: var(--primary-text-color);
                }
            }
        }
        &>hr{
            margin-bottom: 64px;
            border: none;
            border-bottom: 1px solid var(--primary-card-border-color);
        }
        &-list{
            display: flex;
            flex-direction: column;
            &-filter{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 20px;
                &>div{
                    display: flex;
                    gap: 12px;
                }
            }
            &-items{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2%;
                &-item{
                    width: 23%;
                    box-shadow: 0px 0px 8px var(--primary-card-shadow-color);
                    border: 1px solid var(--primary-card-border-color);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 444px;
                    &-wrapper{
                        display: flex;
                        flex-direction: column;
                    }
                    &-time{
                        display: flex;
                        flex-direction: row;
                        height: 81px;
                        &-calendar{
                            display: flex;
                            flex-direction: column;
                            background-color: var(--primary-theme-color);
                            color: var(--primary-light-text-color);
                            width: 72px;
                            align-items: center;
                            justify-content: center;
                            &>p{
                                font-size: 15px;
                                &:nth-child(2) {
                                    font-size: 24px;
                                }
                            }
                        }
                        &-detail{
                            flex: 1;
                            display: flex;
                            align-items: center;
                            background-color: var(--primary-light-bg-color);
                            padding: 20px 16px;
                            color: var(--primary-text-color);
                            font-size: 15px;
                        }
                    }
                    &-info{
                        display: flex;
                        flex-direction: column;
                        padding: 20px;
                        gap: 7px;
                        width: 100%;
                        box-sizing: border-box;
                        &>div{
                            display: flex;
                            flex-direction: row;
                            position: relative;
                            border-bottom: 1px solid var(--primary-light-bg-color);
                            padding: 5px 0;
                            font-size: 15px;
                            &:first-child{
                                padding-top: 0;
                            }
                            &>i{
                                width: 20px;
                                height: 20px;
                                margin-right: 10px;
                                display: inline-block;
                                background-color: gray;
                                margin-right: 8px ;
                            }
                        }
                    }
                    &-footer{
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        p{
                            text-align: center;
                            margin-bottom: 4px;
                            font-size: 14px;
                            color: var(--primary-light-text-color);
                        }
                    }
                }
            }
        }
        &-links{
            display: flex;
            flex-direction: row;
            height: 100px;
            gap: 16px;
            margin-bottom: 20px;
            &>div{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #0372CC1A;
                gap: 4px;
                color: var(--primary-text-color);
                font-size: 15px;
                a{
                    color: var(--primary-text-color);
                }
            }
        }
        &-online{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 65px;
            &-item{
                box-shadow: 0px 0px 8px var(--primary-card-shadow-color);
                border: 1px solid var(--primary-card-border-color);
                border-left: 4px solid var(--primary-theme-color);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 20px;
                min-height: 123px;
                box-sizing: border-box;
                &-title{
                    width: 165px;
                    font-size: 24px;
                }
                &-detail{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    p{
                        font-size: 15px;
                        &:first-child{
                            margin-bottom: 16px;
                        }
                        &:last-child{
                            margin-top: 4px;
                            color: var(--arlo-discount-bg-color);
                        }
                    }
                }
                .arlo-button{
                    width: 100px;
                }
            }
        }


        @media screen  and (max-width: 1200px) {
            &-basic{
                flex-direction: column;
                height: auto;
                &-cover{
                    height: 460px;
                    flex-basis: auto;
                }
                &-info{
                    width: 720px;
                    margin: 0 auto;
                    &>div{
                        padding: 64px 0;
                    }
                }
            }
            &-section{
                flex-direction: column;
                gap: 33px;
                &-title{
                    width: 100%;
                }
                &-content{
                    margin-bottom: 48px;
                    hr{
                        display: none;
                    }
                }
            }
            &-list{
                &-filter{
                    flex-direction: column;
                    gap: 12px;
                    &>select{
                        min-width: 380px;
                        width: fit-content;
                    }
                }
                &-items{
                    gap: 21px;
                    &-item{
                        width: 277px;
                    }
                }
            }
            &-links{
                flex-direction: column;
                gap: 16px;
                &>div{
                    flex-direction: row;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }

        @media screen and  (max-width: 720px) {
            &-basic{
                &-cover{
                    height: 320px;
                }
                &-info{
                    width: 100%;
                    margin: 0 auto;
                    &>div{
                        padding: 32px 20px;
                        width: 100%;
                        box-sizing: border-box;
                    }
                }
            }
            &-filter{
                margin: 32px 0;
            }
            
            &-list{
                &-filter{
                    margin-top: 34px;
                    &>div{
                        flex-direction: row;
                        flex-wrap: wrap;
                        &>select{
                            width: 100%;
                        }
                        &>button{
                            flex: 1;
                        }
                    }
                    &>select{
                        width: 100%;
                    }
                }
                &-items{
                    gap: 17px;
                    &-item{
                        width: 100%;
                    }
                }
            }
            &-links{
                flex-direction: column;
                &>div{
                    flex-direction: column;
                }
            }
            &-online{
                &-item{
                    flex-direction: column;
                    align-items: flex-start;
                    &-title{
                        width: 100%;
                        margin-bottom: 16px;
                        br {
                            display: none;
                        }
                    }
                    .arlo-button{
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    @media screen and  (max-width: 720px) {
        &.arlo-event:not(.full){
            padding: 0 20px;
        }
    }
}
