/* This stylesheet is used to style the admin option form of the plugin. */

/* Plugin Prefix is specified in arlo-for-wordpress.php */


#adminmenu .toplevel_page_arlo-for-wordpress.current a.current .wp-menu-image {
	opacity: 1;
	filter: alpha(opacity=100);
	background: transparent url(../img/icon-20x20.png) no-repeat center;
}

.arlo-section {
	position: relative;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #f6f6f6;
}

.arlo-section:nth-of-type(1) {
	border-top-color: transparent;
}

.arlo-section:nth-of-type(4) {
	border-bottom-color: transparent;
}

.arlo-tooltip {
	float: right;
	margin-top: 16px;
	text-decoration: none;
}

.arlo-field-wrap, #arlo-template-select {
	margin-bottom: 1em;
}

.arlo-field-wrap.search {
	background-color: transparent;
}

.arlo-field [type='text'], .arlo-field [type='url'] {
	width: 100%;
}

.arlo-field .arlo_platform {
	display: inline-block;
	color: #aaa;
	margin-right: 6px;
}

.arlo-field .arlo_platform + input {
	width: 60%;
}

.arlo-check {
	float: left;
}

.arlo-check input {
	margin: 2px 10px 2px 0;
}

.arlo-check + .arlo-label {
	width: auto;
	float: left;
}

.arlo-submit input {
	float: right;
}

.js #arlo-template-select {
	display: block;
}

.js #arlo-template-select select {
	float: right;
	width: 70%;
}

.toplevel_page_arlo-for-wordpress p.webinar {
	color: #ccc;
}

.toplevel_page_arlo-for-wordpress p.webinar span {
	color: #444;
}

.toplevel_page_arlo-for-wordpress p.webinar img, 
.toplevel_page_arlo-for-wordpress p.developer img {
	vertical-align: middle;
	margin: 0px 6px;
}

/* hide the template edit select box if no javascript */
.no-js #arlo-template-select {
	display: none;
	visibility: hidden;
}

.arlo-preview {
	float: right;
}

.arlo-template-editor-wrap {
	margin-bottom: 1em;
}
/* only hide the editors if javascript is enabled */
.js .arlo_pages_section > [class^='arlo'] {
	display: none;
}


.arlo-validate.invalid {
	background-color: #FEE;
}

.arlo-validate.invalid:focus {
	border-color: #F22;
	-webkit-box-shadow: 0 0 2px rgba(255,34,34,.8);
	box-shadow: 0 0 2px rgba(255,34,34,.8);
}

.arlo-field small {
	display: none;
}

.arlo-field .invalid + small {
	display: block;
}

/* label font size and weight is based on WP 3.9 admin styles, though not using those styles directly as the label would need to be in a table header cell, urgh */
.arlo-label label {
	display: block;
	font-size: 14px;
	font-weight: 600;
	line-height: 29px;
	width: 100%;
}

.arlo_template_section label {
	visibility: hidden;
	height: 1px;
}

.arlo-codes {
	font-size: 11px;
	margin-top: 0;
}

.arlo-codes ul {
	margin-left: 15px;
}

.arlo-reload-template {
	cursor: pointer;
	float: right;
}

.arlo-sub-template-select {
	float: right;
}


table.arlo-welcome td.logo {
	width: 80px;
	padding-top: 15px;
}

.arlo-template-table {
	width: 100%;
}

.arlo-template-table td {
	padding: 0.5em;
}

.arlo-template-table td:first-of-type {
	width: 190px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	padding-right: 0;
}

.arlo-block {
	display: inline-block;
}

.notice.arlo-connected-message {
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}

.arlo-connected-message .arlo-block {
	margin-left: 1em;
}

/* clearing for divs containing floated elements */

.cf:before,
.cf:after {
    content: " "; 
    display: table;
}

.cf:after {
    clear: both;
}

/* vertical tab */
.nav-tab-wrapper.vertical-nav-tab-wrapper {
	border-bottom: 0;
	padding: 10px 0;
}

.nav-tab.vertical-nav-tab {
	display: block;
	border: 1px solid #ccc;
	border-right: none;	
	margin-right: 1px;
}	

.nav-tab.vertical-nav-tab.nav-tab-active {
	border-right: 1px solid #f1f1f1;
	margin-right: -1px;
}

/* media queries, these match the wordpress admin breakpoints as of WP 3.9 */

@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 783px) {
	.arlo-label {
		float: left;
		width: 30%;
	}

	.arlo-label + .arlo-field {
		float: left;
		width: 70%;
	}

	.arlo-check input {
		margin: 6px 10px 6px 0;
	}
}

@media only screen and (min-width: 901px) {
	
}
