/* This stylesheet is used to style the public-facing components of the plugin. */

.arlo-list {
	list-style-type: none;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.arlo-list:last-child {
	margin-bottom: 0;
}

.arlo-list.events > li,
.arlo-list.upcoming > li {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	margin-left: 0px;
	padding: 1em;
}

.arlo-list.events > li:last-child, .arlo-list.upcoming > li:last-child {
	margin-bottom: 0;
}
.arlo-list.venues > li, .arlo-list.presenters > li {
	margin-bottom: 1em;
}

.arlo-cal {
	text-align: center;
	background-color: #fff;
}

.arlo-cal.arlo-left {
	margin-right: 1em;
        max-width: 24%;
}

.arlo-cal-month {
	background-color: #f04124;
	border: 1px solid #f04124;
	color: #fff;
	display: block;
	font-weight: 600;
	width: 50px;
}

.arlo-cal-day {
	border: 1px solid #ccc;
	border-top: 0;
	display: inline-block;
	font-size: 1.5em;
	width: 50px;
	padding: 6px 0px;
}

.arlo-onlineactivity .arlo-oa-credits {
	margin-left: 1em;
	list-style: none;
}

.arlo-event-details {
	max-width: 50%;
}

.widget .arlo-cal-month {
	font-size: 0.75em;
}

.widget .arlo-cal-day {
	font-size: 1.5em;
}

.arlo-event-registration {
	text-align: right;
}

.arlo-event-registration > span {
	display: block;
	font-size: 0.75em;
}

.arlo-event-registration > a, .arlo-event-registration > span {
	margin-bottom: 0.5em;
}

.arlo-event-full {
	font-weight: 600;
}

.arlo-places-remaining {

}

.arlo-event-summary {
}


.arlo-event-location,
.arlo-event-provider,
.arlo-event-presenters,
.arlo-event-notice,
.arlo-event-session-description,
.arlo-event-time
{
	display: block;
}

.arlo-event-offers .replaced {
	margin-right: 1em;
	text-decoration: line-through;
}

.arlo-event-offers .discount {
	color: red;
}

.arlo-address-list {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.arlo-widget-upcoming {
	padding-left: 0px;
}

.arlo-widget-upcoming > li {
	margin-bottom: 0.75em;
}

.arlo-widget-upcoming > li p {
	margin: 0px;
}

ul.page-numbers {
	list-style-type: none;
	margin: 1em 0;
	padding-left: 0;
	text-align: center;
}

ul.page-numbers li {
	display: inline-block;
	margin: 0 0.25em;
}

.arlo-filters {
	margin: 0.5em 0 1em 0;
}

.arlo-filters-buttons {
	display:inline-block;
	margin-top: 0;
}

.arlo-filters select {
	width: 100%;
	margin-bottom: 0.5em;
}

.arlo-filters select, .arlo-filters .arlo-button {
	margin-right: 0.5em;
}

.arlo-filters .arlo-button {
	font-size: 0.75em;
}

@media (min-width: 550px) {

	.arlo-filters-buttons {
		margin-top: 0.5em;
	}

	.arlo-filters select {
		margin-bottom: 0;
		width: auto;
	}

	.arlo-filters .arlo-button {
		margin-bottom: 0;
	}
}

/* utility classes */

.text-overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.arlo-left {
	float: left;
}

.arlo-right {
	float: right;
        max-width: 25%;
}

.arlo-cf:before, .arlo-cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.arlo-cf:after {
	clear: both;
}

.arlo-clear-both {
	clear: both;
}

.arlo-categories-widget ul ul {
	margin-left: 1em;
}

.arlo-show-more:after {
    clear: both;
}
.arlo-show-more-hidden {
    display: none;
}

.arlo-timezone-toggle select {
	margin-right: 0.5em;
}

table.arlo-no-results td {
	text-align: center;
}

table.arlo_suggest_templates {
	width: 100%;
}

p.arlo-no-results {
	padding: 1em;
	text-align: center;
	background-color: #f3f3f3;
	font-size: 0.8em;
}

p.arlo-register-private-interest {
	padding: 1em;
	text-align: center;
	background-color: #f3f3f3;
	font-size: 0.8em;
}

/* Tooltip */

.arlo-tooltip-html {
	display: none;
}

.arlo-tooltip-button {
	font-weight: 700;
	cursor: pointer;
	text-align: right;
}

.arlo-popup-body {
	max-height: 600px;
	max-height: 80vh;
	overflow-y: auto;
}

/* BOXED LAYOUT OVERRIDE */


/* event with dates */

.arlo-boxed .arlo-template-head {
    padding: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.arlo-boxed .arlo-list.events,
.arlo-boxed .arlo-list.upcoming {
    margin-left: 0px !important;
}

.arlo-boxed .arlo-list.events .arlo-cf,
.arlo-boxed .arlo-list.upcoming .arlo-cf
{
    width: 47%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 12px;
}

.arlo-boxed .arlo-list.upcoming .arlo-cf.arlo-group-divider {
    float: none;
    border: none;
    font-weight: 600;
    font-size: 22px;
}

.arlo-boxed .arlo-event-details {
    width: 100%;
    max-width: 100%;
}


.arlo-boxed .arlo-template-summary {
    height: 6em;
    line-height: 1.3em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}

.arlo-boxed .arlo-template-summary h5 {
    padding-bottom: 0px;
}

.arlo-boxed .arlo-ellipsis {    
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;  
}

.arlo-boxed .arlo-cal {
    text-align: left;
}

.arlo-boxed .arlo-cal .arlo-date {
    font-size: 22px;
    font-weight: 600;
}

.arlo-boxed .arlo-event-offers .amount {
    font-weight: 600;
}

.arlo-boxed .arlo-event-registration {
    text-align: left;
    margin-top: 12px;
}

.arlo-boxed .arlo-event-registration .arlo-button {
    float: left;
}

.arlo-boxed .arlo-event-registration span {
    display: block;
    float: right;
    font-size: 0.9em;
    padding-top: 6px;
    width: 49%;
}

.arlo-boxed .arlo-suggest {
    padding: 12px;
}

.arlo-boxed .arlo-suggest .arlo-register-interest {
    text-align: center;
}

.arlo-boxed .arlo-show-more-link-container {
    border: none !important;
    border-bottom: 2px solid #f4f4f4 !important;
    position: relative;
    height: 20px;
    margin-bottom: 25px;
    margin-right: 12px;
}

.arlo-boxed .arlo-show-more-link {
    position: absolute;
    left: 50%;
    background-color: #f4f4f4;
    border: 6px solid #f4f4f4;
    outline: 6px solid #fff;
    top: 0px;
}

.arlo-boxed .arlo-show-more-link-container:before,
.arlo-boxed .arlo-show-more-link-container:after{
    clear: both;
}

.arlo-boxed .arlo-show-more-link:hover{
    outline: 6px solid #fff;
}

.arlo-powered-by {
	text-align: right;
	margin-top: 2em;
	font-size: 10px !important;
	opacity: 0.5;
	text-decoration: none;
	clear:both;
	margin-bottom: 1em;
}

.arlo-powered-by img {
	display: inline-block !important;
	margin-right: 0.2em;
    height: 30px;
	margin-top: -4px;
	vertical-align: middle;
}

.arlo-powered-by a,
.arlo-powered-by a:-webkit-any-link,
.arlo-powered-by a:link,
.arlo-powered-by a:visited,
.arlo-powered-by a:hover,
.arlo-powered-by a:active {
	text-decoration: none !important;
	color: inherit !important;
	box-shadow: none !important;
	text-shadow: none !important;
}


.arlo-sessions-popup-content {
	display: none;
}
