.arlo#arlo,
.arlo .dark-tooltip,
.tingle-modal.arlo  {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  font-size: 14px;
  font-weight: normal;
  padding: 1em 0;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
}

.arlo#arlo *,
.arlo .dark-tooltip h1,
.arlo .dark-tooltip h2,
.arlo .dark-tooltip h3,
.arlo .dark-tooltip h4,
.arlo .dark-tooltip h5,
.arlo .dark-tooltip h6,
.tingle-modal.arlo * {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: none;
  font-style: inherit;
  color: inherit;
  box-shadow: none;
  border: none;
  background-image: none;
  letter-spacing: inherit;
  text-transform: inherit;
}


/* Headings 
------------------------------------
*/
.arlo#arlo h1,
.arlo#arlo h2,
.arlo#arlo h3,
.arlo#arlo h4,
.arlo#arlo h5,
.arlo#arlo h6,
.arlo .dark-tooltip,
.arlo .dark-tooltip h1,
.arlo .dark-tooltip h2,
.arlo .dark-tooltip h3,
.arlo .dark-tooltip h4,
.arlo .dark-tooltip h5,
.arlo .dark-tooltip h6,
.tingle-modal.arlo h1,
.tingle-modal.arlo h2,
.tingle-modal.arlo h3,
.tingle-modal.arlo h4,
.tingle-modal.arlo h5,
.tingle-modal.arlo h6 {
  margin: 10px 0;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 300;
  color: #2c2c2c;
  padding: 0;
}
.arlo#arlo h1,
.arlo .dark-tooltip h1,
.tingle-modal.arlo h1 {
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -0.009em;
}
.arlo#arlo h1.mega {
  font-size: 110px;
  line-height: 89px;
}
.arlo#arlo h2,
.arlo .dark-tooltip h2,
.tingle-modal.arlo h2 {
  font-size: 31px;
  line-height: 42px;
}
.arlo#arlo h3,
.arlo .dark-tooltip h3,
.tingle-modal.arlo h3 {
  font-size: 27px;
  line-height: 40px;
}
.arlo#arlo h4,
.arlo .dark-tooltip h4,
.tingle-modal.arlo h4 {
  font-size: 22px;
  line-height: 31.88px;
  letter-spacing: -0.0045em;
  -webkit-text-stroke-width: 0.24px;
}
.arlo#arlo h5,
.arlo .dark-tooltip h5,
.tingle-modal.arlo h5 {
  font-size: 18px;
  line-height: 25.88px;
}
.arlo#arlo h3 small,
.arlo#arlo h4 small,
.arlo#arlo h5 small {
  font-weight: 300;
}

/* Lins and Others
------------------------------------
*/

.arlo#arlo a {
  text-shadow: none !important;
  color: #4e5ec1;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}
.arlo#arlo a:focus,
.arlo#arlo a:hover,
.arlo#arlo a:active {
  color: #413768;
}
.arlo#arlo a,
.arlo#arlo a:focus,
.arlo#arlo a:hover,
.arlo#arlo a:active {
  outline: 0 !important;
  text-decoration: none;
}
.arlo#arlo br {
  line-height: normal;
  clear: both;
}
.arlo#arlo code {
  color: #c64643;
  background-color: #f0f0f0;
}
.arlo#arlo code:hover {
  background-color: #fddddd;
}
.arlo#arlo dd,
.arlo#arlo p {
  display: block;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 25px;
  margin: 0px 0px 10px 0px;
  font-style: normal;
  white-space: normal;
}
.arlo#arlo ul > li,
.arlo#arlo ol > li {
  padding-left: 3px;
  line-height: 24px;
}
.arlo#arlo address {
  margin-bottom: 0px;
}
.arlo#arlo address a {
  color: #626262;
}
.arlo#arlo blockquote {
  padding: 0 0 0 18px;
  border-left: 0;
}
.arlo#arlo blockquote:before {
  content: '';
  font-family: FontAwesome;
  content: "\f10d";
  margin-right: 13px;
  float: left;
}
.arlo#arlo blockquote p {
  font-size: 16px;
}
.arlo#arlo blockquote small {
  line-height: 29px;
  color: #8b91a0;
  padding-left: 30px;
}
.arlo#arlo blockquote small:before {
  content: "";
}
.arlo#arlo hr {
  border-color: #e6e6e6;
}


.arlo#arlo .fa {
  font-family: FontAwesome;
}