/*  Theme
    Overrides all theme styles
*/

/*
color1: #00cdc1;
color2: #46536b;
color3: #747a87;
*/


/* Normalize.css */

body.arlo {
    margin: 0;
}

.arlo#arlo article,
.arlo#arlo aside,
.arlo#arlo details,
.arlo#arlo figcaption,
.arlo#arlo figure,
.arlo#arlo footer,
.arlo#arlo header,
.arlo#arlo main,
.arlo#arlo menu,
.arlo#arlo nav,
.arlo#arlo section,
.arlo#arlo summary {
    display: block;
}

.arlo#arlo audio,
.arlo#arlo canvas,
.arlo#arlo progress,
.arlo#arlo video {
    display: inline-block;
}

.arlo#arlo audio:not([controls]) {
    display: none;
    height: 0;
}

.arlo#arlo progress {
    vertical-align: baseline;
}

.arlo#arlo template,
.arlo#arlo [hidden] {
    display: none;
}

.arlo#arlo a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

.arlo#arlo a:active,
.arlo#arlo a:hover {
    outline-width: 0;
}

.arlo#arlo abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

.arlo#arlo b,
.arlo#arlo strong {
    font-weight: inherit;
}

.arlo#arlo b,
.arlo#arlo strong {
    font-weight: bolder;
}

.arlo#arlo code,
.arlo#arlo kbd,
.arlo#arlo samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

.arlo#arlo dfn {
    font-style: italic;
}

.arlo#arlo mark {
    background-color: #ff0;
    color: #000;
}

.arlo#arlo small {
    font-size: 80%;
}

.arlo#arlo sub,
.arlo#arlo sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.arlo#arlo sub {
    bottom: -0.25em;
}

.arlo#arlo sup {
    top: -0.5em;
}

.arlo#arlo img {
    border-style: none;
}

.arlo#arlo svg:not(:root) {
    overflow: hidden;
}

.arlo#arlo figure {
    margin: 1.5em 40px;
}

.arlo#arlo hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

.arlo#arlo pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.arlo#arlo button,
.arlo#arlo input,
.arlo#arlo optgroup,
.arlo#arlo select,
.arlo#arlo textarea {
    font: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
}

.arlo#arlo button {
    overflow: visible;
}

.arlo#arlo button,
.arlo#arlo select {
    /* 1 */
    text-transform: none;
}

.arlo#arlo button,
.arlo#arlo html [type="button"],
.arlo#arlo [type="reset"],
.arlo#arlo [type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}

.arlo#arlo button,
.arlo#arlo [type="button"],
.arlo#arlo [type="reset"],
.arlo#arlo [type="submit"] {
    /**
     * Remove the inner border and padding in Firefox.
     */
    /**
     * Restore the focus styles unset by the previous rule.
     */
}

.arlo#arlo button::-moz-focus-inner,
.arlo#arlo [type="button"]::-moz-focus-inner,
.arlo#arlo [type="reset"]::-moz-focus-inner,
.arlo#arlo [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

.arlo#arlo button:-moz-focusring,
.arlo#arlo [type="button"]:-moz-focusring,
.arlo#arlo [type="reset"]:-moz-focusring,
.arlo#arlo [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

.arlo#arlo input {
    overflow: visible;
}

.arlo#arlo [type="checkbox"],
.arlo#arlo [type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

.arlo#arlo [type="number"]::-webkit-inner-spin-button,
.arlo#arlo [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

.arlo#arlo [type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
    /**
     * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
     */
}

.arlo#arlo [type="search"]::-webkit-search-cancel-button,
.arlo#arlo [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.arlo::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

.arlo::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

.arlo#arlo fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

.arlo#arlo legend {
    box-sizing: border-box;
    /* 1 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    white-space: normal;
    /* 1 */
    color: inherit;
    /* 2 */
    padding: 0;
    /* 3 */
}

.arlo#arlo optgroup {
    font-weight: bold;
}

.arlo#arlo textarea {
    overflow: auto;
}



/* Custom resets */

.arlo#arlo h1,
.arlo#arlo h2,
.arlo#arlo h3,
.arlo#arlo h4,
.arlo#arlo h5,
.arlo#arlo h6,
.arlo#arlo p {
    clear: none;
}

.arlo#arlo select {
    background-image: none;
    -webkit-appearance: menulist;
    appearance: menulist;
    -moz-appearance: menulist;
}

.arlo#arlo *,
.arlo .dark-tooltip *,
.arlo-widget-upcoming *,
.arlo-categories-widget * {
    box-sizing: border-box;
}

.arlo#arlo img {
    max-width: 100%;
}



/* Fonts */

.arlo#arlo .fa {
    font: normal normal normal 14px/1 FontAwesome;
}

.arlo#arlo .arlo-list.events .discount:before,
.arlo#arlo .arlo-list.upcoming .arlo-event-offers li:first-child:before {
    display: inline-block;
    font-family: "WP---WC-Demo-Themes";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.arlo#arlo .arlo-list.upcoming .arlo-event-offers li:first-child:before {
    content: "\f102";
}

.arlo#arlo .arlo-list.events .discount:before {
    content: "\f101";
    width: 30px;
    float: left;
    height: 30px;
    font-size: 30px;
    margin-right: .3em;
}



/* All lists */

.arlo#arlo .arlo-list,
.arlo#arlo .arlo-category-list,
.arlo#arlo .arlo-event-credits,
.arlo#arlo .arlo-event-template-credits,
.arlo#arlo .arlo-event_tags-list,
.arlo#arlo .presenter-events,
.arlo#arlo .arlo-address-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.arlo#arlo .arlo-list li,
.arlo#arlo .arlo-category-list li,
.arlo#arlo .arlo-event-credits li,
.arlo#arlo .arlo-event-template-credits li,
.arlo#arlo .arlo-event_tags-list li,
.arlo#arlo .presenter-events li,
.arlo#arlo .arlo-address-list li {
    list-style: inherit;
    border: none;
}

.arlo#arlo .arlo-list.arlo-cols-5 > li {
    width: 19.5%;
    margin-right: 0.5%;
    float: left;
}

.arlo#arlo .arlo-list.arlo-cols-4 > li {
    width: 24.5%;
    margin-right: 0.5%;
}

.arlo#arlo .arlo-list.arlo-cols-3 > li {
    width: 32.5%;
    margin-right: 0.5%;
}

.arlo#arlo .arlo-list.arlo-cols-2 > li {
    width: 47.5%;
    margin-right: 2.5%;
}

.arlo#arlo .arlo-list.arlo-cols-1 > li {
    width: 100%;
}




/* Buttons */

.arlo#arlo .arlo-button,
.arlo#arlo .arlo-list.catalogue .arlo-next-running a,
.arlo#arlo .arlo-list.catalogue .arlo-next-running span,
.arlo#arlo .arlo-list.schedule .arlo-next-running a,
.arlo#arlo .arlo-list.schedule .arlo-next-running span,
.arlo#arlo .arlo-list.event-search .arlo-next-running a,
.arlo#arlo .arlo-list.event-search .arlo-next-running span,
.arlo#arlo .prev.page-numbers,
.arlo#arlo .next.page-numbers,
.arlo#arlo .arlo-category-list a,
.arlo#arlo select,
.arlo#arlo .arlo-filters-buttons a,
.arlo#arlo .arlo-show-more-link,
.arlo#arlo .arlo-oa-registration .arlo-register {
    padding: .6em 1.2em;
    display: block;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    margin-right: 0;
    height: auto;
    width: auto;
    min-width: 0;
    max-width: none;
    border: none;
    box-shadow: none;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 0;
}

@media (min-width: 550px) {
    .arlo#arlo .arlo-button,
    .arlo#arlo .arlo-list.catalogue .arlo-next-running a,
    .arlo#arlo .arlo-list.catalogue .arlo-next-running span,
    .arlo#arlo .arlo-list.schedule .arlo-next-running a,
    .arlo#arlo .arlo-list.schedule .arlo-next-running span,
    .arlo#arlo .prev.page-numbers,
    .arlo#arlo .next.page-numbers,
    .arlo#arlo .arlo-category-list a,
    .arlo#arlo select,
    .arlo#arlo .arlo-filters-buttons a,
    .arlo#arlo .arlo-show-more-link,
    .arlo#arlo .arlo-list.event-search .arlo-next-running a,
    .arlo#arlo .arlo-list.event-search .arlo-next-running span,
    .arlo#arlo .arlo-oa-registration .arlo-register {
        display: inline-block;
    }
}

.arlo#arlo .arlo-button:after,
.arlo#arlo .arlo-list.catalogue .arlo-next-running a:after,
.arlo#arlo .arlo-list.schedule .arlo-next-running a:after,
.arlo#arlo .prev.page-numbers:after,
.arlo#arlo .next.page-numbers:after,
.arlo#arlo .arlo-category-list a:after,
.arlo#arlo .arlo-show-more-link:after,
.arlo#arlo .arlo-list.event-search .arlo-next-running a:after,
.arlo#arlo .arlo-oa-registration .arlo-register:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
    background: transparent;
    width: 100%;
}

.arlo#arlo .arlo-button:hover:after,
.arlo#arlo .arlo-list.catalogue .arlo-next-running a:hover:after,
.arlo#arlo .arlo-list.schedule .arlo-next-running a:hover:after,
.arlo#arlo .prev.page-numbers:hover:after,
.arlo#arlo .next.page-numbers:hover:after,
.arlo#arlo .arlo-category-list a:hover:after,
.arlo#arlo .arlo-show-more-link:hover:after,
.arlo#arlo .arlo-list.event-search .arlo-next-running a:hover:after,
.arlo#arlo .arlo-oa-registration .arlo-register:hover:after {
    background: rgba(0,0,0,.15);
}

.arlo#arlo .arlo-button:hover,
.arlo#arlo .arlo-list.catalogue .arlo-next-running span:hover,
.arlo#arlo .arlo-list.schedule .arlo-next-running span:hover,
.arlo#arlo .arlo-category-list a:hover,
.arlo#arlo .arlo-filters-buttons a:hover {
    border-bottom: none;
}

.arlo#arlo .prev.page-numbers,
.arlo#arlo .next.page-numbers,
.arlo#arlo .upcoming .arlo-button.arlo-waiting-list,
.arlo#arlo .arlo-button.arlo-waiting-list,
.arlo#arlo .arlo-show-more-link,
.arlo#arlo .arlo-list.catalogue .arlo-next-running a,
.arlo#arlo .arlo-list.schedule .arlo-next-running a,
.arlo#arlo .arlo-show-more-link:hover,
.arlo#arlo .arlo-list.event-search .arlo-next-running a {
    border: 2px solid;
}

.arlo#arlo .arlo-next-running > a,
.arlo#arlo .arlo-next-running > span  {
    margin-left: 0.5em;
}



/* Catalogue */

.arlo#arlo .arlo-category-list li {
    margin-bottom: .5em;
}

@media (min-width: 550px) {
    .arlo#arlo .arlo-category-list li {
        display: inline-block;
        margin-right: .5em;
    }
}

.arlo#arlo .arlo-list.catalogue .arlo-cf.arlo-catalogue-event,
.arlo#arlo .arlo-suggest-template-container .arlo-suggest-templates {
    background-color: rgba(0, 0, 0, 0.04);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.arlo#arlo .arlo-list.catalogue .arlo-cf.arlo-catalogue-event:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.arlo#arlo .arlo-category-footer {
    clear: both;
}

.arlo#arlo .arlo-list.catalogue .arlo-cf.arlo-catalogue-event {
    padding: 1.5em;
    margin-bottom: 1em;
}

.arlo#arlo .arlo-list.catalogue .arlo-cf.arlo-catalogue-event h4 {
    margin-top: 0;
}

.arlo#arlo .arlo-offers {
    margin-bottom: 1em;
    font-weight: bold;
}

.arlo#arlo .arlo-summary {
    margin: 1em 0;
}

.arlo#arlo .arlo-category-footer,
.arlo#arlo .arlo-category-header {
    padding: 1em 0 2em;
}

.arlo#arlo .arlo-advertised-duration,
.arlo#arlo .arlo-advertised-price {
    display: inline-block;
    padding: .1em 1em;
}

.arlo#arlo .arlo-list.catalogue .arlo-next-running a.arlo-register,
.arlo#arlo .arlo-list.schedule .arlo-next-running a.arlo-register {
    border: none;
}




/* Upcoming events list */

.arlo#arlo .arlo-list.upcoming > li {
    margin-bottom: 4em;
    padding: 0;
    border: none;
}

.arlo#arlo .arlo-cal {
    width: 60px;
    float: left;
    text-align: center;
    line-height: 1.3;
    background-color: rgba(0, 0, 0, 0.04);
}

.arlo#arlo .upcoming .arlo-cal .arlo-day {
    font-size: 2em;
    padding: .2em 0;
}

.arlo#arlo .upcoming .arlo-cal .arlo-month {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .5em 0;
}

.arlo#arlo .upcoming .arlo-event-info {
    margin-left: 75px;
}

@media (min-width: 550px) {
    .arlo#arlo .arlo-cal {
        width: 85px;
    }

    .arlo#arlo .upcoming .arlo-event-info {
        margin-left: 115px;
    }

    .arlo#arlo .upcoming .arlo-cal .arlo-day {
        font-size: 3em;
    }
}

.arlo#arlo .upcoming .arlo-event-name {
    line-height: 1;
    margin-top: 0;
    font-weight: bold;
}

.arlo#arlo .upcoming .arlo-event-subhead {
    margin-bottom: .5em;
}

.arlo#arlo .upcoming .arlo-event-subhead > div {
    display: inline-block;
    padding-right: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    margin-right: .5em;
}

.arlo#arlo .upcoming .arlo-event-subhead > div:after {
    content: " ";
    height: 5px;
    width: 5px;
    display: block;
    position: absolute;
    right: 0;
    top: .5em;
    border-radius: 50%;
}

.arlo#arlo .upcoming .arlo-event-subhead > div:first-child:last-child:after {
    display: none;
}

.arlo#arlo .upcoming .arlo-event-notice {
    margin-bottom: .5em;
}

.arlo#arlo .upcoming .arlo-template-summary {
    margin-bottom: .5em;
}

.arlo#arlo .upcoming .arlo-offers {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
}

.arlo#arlo .upcoming .arlo-offers .arlo-price-tax {
    font-size: .8em;
}

.arlo#arlo .upcoming .arlo-cf.arlo-group-divider,
.arlo#arlo .arlo-online-activities .arlo-cf.arlo-group-divider,
.arlo#arlo .catalogue .arlo-cf.arlo-group-divider,
.arlo#arlo .schedule .arlo-cf.arlo-group-divider {
    margin-bottom: 3em;
    margin-top: 1em;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    clear: both;
    width: 100%;
}

.arlo#arlo .upcoming .arlo-cf.arlo-group-divider h3,
.arlo#arlo .arlo-online-activities .arlo-cf.arlo-group-divider h3,
.arlo#arlo .catalogue .arlo-cf.arlo-group-divider h3,
.arlo#arlo .schedule .arlo-cf.arlo-group-divider h3 {
    font-weight: normal;
}

.arlo#arlo .upcoming .arlo-cf.arlo-group-divider:after,
.arlo#arlo .catalogue .arlo-cf.arlo-group-divider:after,
.arlo#arlo .arlo-online-activities .arlo-cf.arlo-group-divider:after,
.arlo#arlo .schedule .arlo-cf.arlo-group-divider:after {
    content: " ";
    height: 2px;
    width: 8%;
}

.arlo#arlo .upcoming .arlo-event-full,
.arlo#arlo .upcoming .arlo-places-remaining {
    display: inline-block;
    font-weight: bold;
    margin-bottom: .5em;
    font-size: 1em;
}

.arlo#arlo .upcoming .arlo-places-remaining {
    margin-top: .5em;
}

@media (min-width: 550px) {
    .arlo#arlo .upcoming .arlo-event-full,
    .arlo#arlo .upcoming .arlo-places-remaining {
        vertical-align: top;
        margin-top: .5em;
        margin-bottom: 0;
    }

    .arlo#arlo .upcoming .arlo-places-remaining {
        margin-left: 1em;
    }

    .arlo#arlo .upcoming .arlo-event-full {
        margin-right: 1em;
    }
}

.arlo#arlo .arlo-event-details {
    max-width: none;
}

.arlo#arlo .arlo-event-registration {
    text-align: left;
}

.arlo#arlo .upcoming i,
.arlo#arlo .arlo-list.upcoming .arlo-event-offers li:first-child:before {
    opacity: .5;
}

.arlo#arlo .upcoming .arlo-offers > i:before {
    vertical-align: top;
}

.arlo#arlo .upcoming .arlo-event-offers {
    display: inline-block;
}

.arlo#arlo .upcoming .arlo-event-registration p a {
    font-size: inherit !important;
}

.arlo#arlo .arlo-list.upcoming .arlo-event-offers li:first-child:before {
    font-size: inherit;
}



/* Event template */

.arlo#arlo .arlo-list.events {
    margin-bottom: 1.5em;
    width: 100%;
    clear: both;
}

.arlo#arlo .arlo-list.events.arlo-show-more-hidden {
    clear: none;
}

.arlo#arlo .arlo-list.events .arlo-event {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.5em;
    position: relative;
    padding: 1.2em;
    overflow: hidden;
}

.arlo#arlo .arlo-list.template-online-activities .arlo-online-activity,
.arlo#arlo .arlo-list.events .arlo-event {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.04);
}

.arlo#arlo .arlo-list.events .arlo-event:hover,
.arlo#arlo .arlo-list.template-online-activities .arlo-online-activity:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.arlo#arlo .arlo-list.template-online-activities .arlo-online-activity {
    clear: both;
    width: 100%;
    padding: 1.5em 1.8em;
    line-height: 1.8;
    margin-top: .5em;
    margin-bottom: 1em;
}

.arlo#arlo .arlo-list.template-online-activities .arlo-online-activity h3 {
    margin-top: 0;
    margin-bottom: .3em;
    line-height: 1;
    padding-top: 0;
}

.arlo#arlo .arlo-template-head {
    text-align: center;
    margin: 2em 0;
}

.arlo#arlo .arlo-list.events .arlo-event-registration,
.arlo#arlo .arlo-list.events .arlo-oa-registration {
    margin-top: 1em;
    text-align: left;
}

.arlo#arlo .arlo-event_tags-list > li {
    display: inline-block;
    padding: .4em 1em;
    font-weight: bold;
    margin-right: .3em;
    margin-bottom: .3em;
    line-height: 1;
}

.arlo#arlo .arlo-content-fields {
    margin-top: 1em;
}

.arlo#arlo .arlo-suggest,
.arlo#arlo .arlo-content-fields {
    clear: both;
}

.arlo#arlo .arlo-suggest {
    text-align: center;
    padding: .5em 1em;
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 1.5em;
}

.arlo#arlo .arlo-suggest-private-datelocation {
    text-align: center;
    padding: .5em 1em;
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 1.5em;
    clear: both;
}

.arlo#arlo .arlo-content-field {
    margin-bottom: 3em;
}

.arlo#arlo .arlo-content-field h3 {
    font-weight: bold;
}

.arlo#arlo .arlo-event-offers {
    font-weight: bold;
    margin-top: .5em;
    line-height: 1;
}

.arlo#arlo .arlo-event-offers li {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding-bottom: .5em;
    margin-bottom: .5em;
}

.arlo#arlo .arlo-event-offers li:first-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.arlo#arlo .replaced {
    text-decoration: line-through;
}

.arlo#arlo .arlo-no-results {
    padding: 1em 2em;
    text-align: center;
    clear: both;
    background-color: rgba(0, 0, 0, 0.04);
    font-size: 1em;
}

.arlo#arlo .arlo-register-private-interest {
    padding: 1em 2em;
    text-align: center;
    clear: both;
    background-color: rgba(0, 0, 0, 0.04);
    font-size: 1em;
}

.arlo#arlo .arlo-places-remaining {
    display: inline-block;
    padding-left: .5em;
    font-size: 1em;
}

.arlo#arlo .arlo-show-more-link-container {
    text-align: center;
    margin-bottom: 1em;
    clear: both;
}

.arlo#arlo .arlo-tooltip-button {
    font-weight: bold;
}

.arlo#arlo .arlo-event .arlo-event-full {
    display: block;
    position: absolute;
    top: 24px;
    right: -39px;
    transform: rotate(45deg);
    vertical-align: middle;
    line-height: 2.5;
    width: 170px;
    text-align: center;
}

.arlo#arlo .arlo-tooltip-button {
    text-align: left;
}

.arlo#arlo .arlo-date,
.arlo#arlo .arlo-event-duration {
    text-transform: uppercase;
    letter-spacing: 2px;
    clear: both;
    float: left;
    font-weight: bold;
}

.arlo#arlo .arlo-date {
    padding: .1em 1em;
    font-size: 1.7em;
    margin-bottom: .2em;
}

.arlo#arlo .arlo-event-duration {
    padding: .2em 1.5em;
}

.arlo#arlo .arlo-event-time {
    margin-bottom: .5em;
    padding-bottom: .5em;
}

.arlo#arlo .arlo-list.events .arlo-event-time {
    padding-top: .5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.arlo#arlo .arlo-timezone select {
    max-width: 400px;
}

.arlo#arlo .arlo-list.events .arlo-event-details {
    clear: both;
    line-height: 1.8;
}

.arlo#arlo .arlo-event_tags-list {
    margin-top: 1em;
}

.arlo#arlo .arlo-event-credits li {
    padding: 0 1em;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.arlo#arlo .arlo-tooltip-button,
.arlo#arlo .arlo-popup-button {
    display: inline-block;
}

.arlo#arlo .arlo-list.events .arlo-event-location {
    font-weight: bold;
}

.arlo#arlo .arlo-social-media {
    margin: 2em 0;
}

.arlo#arlo .arlo-social-media a {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1.5em;
    margin-bottom: .5em;
}

.arlo#arlo .discount {
    font-weight: normal;
    line-height: 1.2;
}

.arlo#arlo .arlo-timezone-toggle select,
.arlo#arlo .arlo-timezone-toggle select:focus {
    background-color: transparent;
    padding: 0;
    margin-bottom: 1em;
}
.arlo#arlo .arlo-timezone-selector select,
.arlo#arlo .arlo-timezone-selector select:focus {
    background-color: transparent;
    padding: 0;
    margin-bottom: 1em;
}



/* Event search list */

.arlo#arlo .event-search {
    margin-bottom: .75em;
}

@media (min-width: 550px) {
    .arlo#arlo .arlo-search-field,
    .arlo#arlo .arlo-search-button {
        width: auto;
        display: inline-block;
    }
}

.arlo#arlo .event-search > li {
    margin-bottom: 2em;
}

.arlo#arlo .arlo-search {
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.03);
}

.arlo#arlo input.arlo-search-field,
.arlo#arlo input.arlo-search-field:focus {
    background-color: transparent;
}

.arlo#arlo .arlo-search-field,
.arlo#arlo .arlo-search-button {
    width: 100%;
}

@media (min-width: 550px) {
    .arlo#arlo .arlo-search-field,
    .arlo#arlo .arlo-search-button {
        display: inline-block;
    }

    .arlo#arlo .arlo-search-field {
        width: 69%;
    }

    .arlo#arlo .arlo-search-button {
        width: 30%;
        min-width: 7em;
    }
}

@media (min-width: 750px) {
    .arlo#arlo .arlo-search-field {
        width: 83%;
    }

    .arlo#arlo .arlo-search-button {
        width: 15%;
    }
}



/* Venue and presenter lists */

.arlo#arlo .venues,
.arlo#arlo .presenters {
    margin-bottom: 2em;
}

.arlo#arlo .venues .arlo-cf,
.arlo#arlo .presenters .arlo-cf {
    border-bottom-width: 1px;
    border-bottom-style: solid; 
    padding-bottom: 2.5em;
    border-color: rgba(0, 0, 0, 0.09);
}

.arlo#arlo .presenter-events {
    margin-bottom: 1em;
}

.arlo#arlo .presenter-events li {
    width: 320px;
    vertical-align: top;
    min-height: 170px;
    padding: 1em 1.5em;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.04);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
}

.arlo#arlo .presenter-events li:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    z-index: 9999999;
}



/* Upcoming events list widget */

.arlo-widget-upcoming > li {
    padding: .5em 0;
    margin-bottom: 0;
}

.arlo-widget-upcoming > li p {
    font-weight: bold;
}

.arlo-widget-upcoming > li p:last-child {
    font-weight: normal;
}

.arlo-widget-upcoming .arlo-cal.arlo-left {
    width: 24%;
}

.arlo-widget-upcoming .arlo-cal-month,
.arlo-widget-upcoming .arlo-cal-day {
    width: 100%;
}

.arlo-widget-upcoming .arlo-cal-month {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .5em 0;
    border: none;
    line-height: 1;
}

.arlo-widget-upcoming .arlo-cal-day {
    background-color: rgba(0, 0, 0, 0.04);
    border: none;
    font-weight: bold;
    font-size: 1.8em;
    padding: .2em;
}



/* Category list widget */

.arlo-categories-widget li {
    border-bottom: 0;
    padding: 0;
}

.arlo-categories-widget li a {
    display: block;
    padding: .3em .8em;
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: .3em;
}



/* Online activities list */

.arlo#arlo .arlo-online-activity {
    margin-bottom: 3em;
}

.arlo#arlo .arlo-online-activity .arlo-reference-term {
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
}

.arlo#arlo .arlo-online-activity .arlo-reference-term i {
    opacity: .5;
}

.arlo#arlo .arlo-online-activity .arlo-event-offers {
    font-size: 1.3em;
}

.arlo#arlo .arlo-online-activity .arlo-oa-registration {
    margin-top: 1em;
}



/* Schedule */

.arlo#arlo .arlo-schedule-event:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.04);
}

.arlo#arlo .arlo-schedule-event:nth-child(even) {
    background-color: white;
}

.arlo#arlo .arlo-schedule-event {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.arlo#arlo .arlo-schedule-event:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.arlo#arlo .arlo-schedule-event {
    padding: .75em;
}

@media (min-width: 550px) {
    .arlo#arlo .arlo-schedule-event {
        padding: 0;
    }

    .arlo#arlo .arlo-schedule-event .arlo-schedule-column {
        float: left;
        padding: .75em;
    }

    .arlo#arlo .arlo-schedule-event .arlo-schedule-column.arlo-event-details {
        width: 45%;
    }

    .arlo#arlo .arlo-schedule-event .arlo-schedule-column.arlo-price {
        width: 20%;
    }

    .arlo#arlo .arlo-schedule-event .arlo-schedule-column.arlo-next-running {
        width: 35%;
        text-align: right;
    }
}

.arlo#arlo .schedule .arlo-cf.arlo-group-divider {
    margin-top: 3em;
    margin-bottom: 2em;
}

.arlo#arlo .arlo-schedule-event .arlo-schedule-column.arlo-next-running ul.arlo-event-next-running,
.arlo#arlo .arlo-schedule-event .arlo-schedule-column.arlo-next-running ul.arlo-event-next-running > li {
    margin: 0px;
    padding: 0px;
}

.arlo#arlo .arlo-schedule-event .arlo-schedule-column.arlo-next-running ul.arlo-event-next-running {
    list-style-type: none;
}



/* Sessions tooltips */

.arlo .dark-tooltip {
    padding: 1em;
}

.arlo .dark-tooltip h5,
.arlo .dark-tooltip h6 {
    margin: 0;
}

.arlo .dark-tooltip h5 {
    font-size: 1.4em;
    font-weight: bold;
}

.arlo .dark-tooltip h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.arlo#arlo .arlo-popup-modal .modal-header {
    padding-bottom: 0px;
}

.arlo#arlo .arlo-popup-modal .modal-header h5 {
    margin: 0px;
}

.arlo#arlo .arlo-popup-modal .modal-body {
    padding-top: 0px;
}

.arlo .arlo-popup-modal .modal-header .close {
    display: none;
}

.arlo .arlo_session {
    margin-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.arlo .arlo_session:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}



/* Filters */

.arlo#arlo .arlo-filters {
    overflow: auto;
    margin-bottom: 1em;
}

.arlo#arlo select,
.arlo#arlo .arlo-filters-buttons,
.arlo#arlo .arlo-filters-buttons a {
    width: 100%;
}

@media (min-width: 750px) {
    .arlo#arlo select,
    .arlo#arlo .arlo-filters-buttons,
    .arlo#arlo .arlo-filters-buttons a {
        width: auto;
    }

    .arlo#arlo .arlo-filters select {
        margin-right: .5em;
    }
}

.arlo#arlo select {
    margin-bottom: .5em;
    background-color: rgba(0, 0, 0, 0.04);
    padding: .7em 1.2em;
}

.arlo#arlo .arlo-filters-buttons {
    display: inline-block;
    margin-top: 0;
}

.arlo#arlo select,
.arlo#arlo .arlo-filters-buttons {
    float: left;
}

.arlo#arlo select.arlo-filter-region {
    float: none;
}


.arlo#arlo .arlo-region-selector {
    margin-bottom: 1.5em;
}

.arlo#arlo .arlo-region-selector select.arlo-filter-region {
    min-width: 400px;
}

.arlo#arlo .arlo-timezone-selector p {
    margin: 0px .5em;
}

.arlo#arlo .arlo-timezone-selector select,
.arlo#arlo .arlo-timezone-selector select:focus {
    float: none;
    margin-bottom: 2em;
}



/* Pagination */

.arlo#arlo .arlo-pagination {
    overflow: auto;
    clear: both;
}

.arlo#arlo .page-numbers {
    display: inline-block;
}

.arlo#arlo .page-numbers.prev,
.arlo#arlo .page-numbers.next {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

@media (min-width: 550px) {
    .arlo#arlo .page-numbers {
        float: left;
    }

    .arlo#arlo .page-numbers.prev,
    .arlo#arlo .page-numbers.next {
        margin-top: .1em;
        margin-bottom: .1em;
        width: auto;
    }
}

@media (min-width: 750px) {
    .arlo#arlo .page-numbers.prev {
        margin-right: 1em;
    }

    .arlo#arlo .page-numbers.next {
        margin-left: 1em;
    }
}

.arlo#arlo .page-numbers:not(.next):not(.prev) {
    margin: .5em;
    font-weight: bold;
}



/* Colours */

.arlo#arlo .arlo-color1,
.arlo#arlo a,
.arlo#arlo a:hover,
.arlo#arlo a.arlo-template-name:hover,
.arlo#arlo .page-numbers:not(.next):not(.prev):hover,
.arlo#arlo .page-numbers.current:not(.next):not(.prev),
.arlo#arlo .upcoming .arlo-places-remaining,
.arlo#arlo .arlo-button.arlo-waiting-list:hover,
.arlo#arlo .arlo-event-offers .discount,
.arlo#arlo .prev.page-numbers,
.arlo#arlo .next.page-numbers,
.arlo#arlo .upcoming .arlo-button.arlo-waiting-list,
.arlo#arlo .arlo-button.arlo-waiting-list,
.arlo#arlo .arlo-show-more-link,
.arlo#arlo .arlo-list.catalogue .arlo-next-running a,
.arlo#arlo .arlo-list.schedule .arlo-next-running a,
.arlo-widget-upcoming a:hover,
.arlo#arlo .arlo-list.event-search .arlo-next-running a {
    color: #00cdc1;
}

.arlo#arlo .arlo-background-color1,
.arlo#arlo .arlo-list.catalogue .arlo-next-running a.arlo-register,
.arlo#arlo .arlo-list.event-search .arlo-next-running a.arlo-register,
.arlo#arlo .arlo-list.schedule .arlo-next-running a.arlo-register,
.arlo#arlo .arlo-category-list a,
.arlo#arlo .arlo-button.arlo-register,
.arlo#arlo .upcoming .arlo-cf.arlo-group-divider:after,
.arlo#arlo .catalogue .arlo-cf.arlo-group-divider:after,
.arlo#arlo .arlo-online-activities .arlo-cf.arlo-group-divider:after,
.arlo#arlo .upcoming .arlo-event-subhead > div:after,
.arlo#arlo .prev.page-numbers:hover,
.arlo#arlo .next.page-numbers:hover,
.arlo#arlo .upcoming .arlo-button.arlo-waiting-list:hover,
.arlo#arlo .arlo-button.arlo-waiting-list:hover,
.arlo#arlo .arlo-show-more-link:hover,
.arlo#arlo .arlo-list.catalogue .arlo-next-running a:hover,
.arlo#arlo .arlo-list.event-search .arlo-next-running a:hover,
.arlo#arlo .arlo-list.schedule .arlo-next-running a:hover,
.arlo#arlo .arlo-event_tags-list > li,
.arlo-widget-upcoming .arlo-cal-month,
.arlo-categories-widget li a:hover,
.arlo#arlo .arlo-search-button,
.arlo#arlo .arlo-oa-registration .arlo-register,
.arlo#arlo .schedule .arlo-cf.arlo-group-divider:after,
.arlo#arlo .arlo-single-show-wrapper .arlo-show-more {
    background-color: #00cdc1;
}

.arlo#arlo .arlo-border-color1,
.arlo#arlo .arlo-list.catalogue .arlo-cf.arlo-catalogue-event,
.arlo#arlo .arlo-list.catalogue .arlo-next-running a:hover,
.arlo#arlo .arlo-list.event-search .arlo-next-running a:hover,
.arlo#arlo .arlo-list.event-search .arlo-next-running a,
.arlo#arlo .arlo-list.schedule .arlo-next-running a:hover,
.arlo#arlo .upcoming .arlo-button.arlo-waiting-list:hover, 
.arlo#arlo .arlo-button.arlo-waiting-list:hover,
.arlo#arlo .prev.page-numbers:hover, 
.arlo#arlo .next.page-numbers:hover,
.arlo#arlo .arlo-show-more-link:hover {
    border-left-color: #00cdc1;
    border-right-color: #00cdc1;
    border-top-color: #00cdc1;
    border-bottom-color: #00cdc1;
}


.arlo#arlo .arlo-color2,
.arlo#arlo .arlo-content-field h3,
.arlo#arlo a.arlo-template-name,
.arlo-widget-upcoming * {
    color: #46536b;
}

.arlo#arlo .arlo-background-color2,
.arlo#arlo .arlo-event .arlo-event-full,
.arlo#arlo .arlo-filters-buttons a {
    background-color: #46536b;
}

.arlo#arlo .arlo-border-color2 {
    border-color: #46536b;
}


.arlo#arlo,
.arlo#arlo .arlo-category-list a,
.arlo#arlo .arlo-color3,
.arlo#arlo select {
    color: #747a87;
}

.arlo#arlo .arlo-background-color3,
.arlo#arlo .arlo-list.catalogue .arlo-next-running span,
.arlo#arlo .arlo-list.event-search .arlo-next-running span,
.arlo#arlo .arlo-list.schedule .arlo-next-running span,
.arlo#arlo .arlo-event-credits li {
    background-color: #747a87;
}


.arlo#arlo .arlo-button,
.arlo#arlo .arlo-list.catalogue .arlo-next-running a.arlo-register,
.arlo#arlo .arlo-list.catalogue .arlo-next-running span,
.arlo#arlo .arlo-list.event-search .arlo-next-running a.arlo-register,
.arlo#arlo .arlo-list.event-search .arlo-next-running span,
.arlo#arlo .arlo-list.schedule .arlo-next-running a.arlo-register,
.arlo#arlo .arlo-list.schedule .arlo-next-running span,
.arlo#arlo .arlo-category-list a,
.arlo#arlo .arlo-filters-buttons a,
.arlo#arlo .arlo-button.arlo-register:hover,
.arlo#arlo .arlo-show-more-link:hover,
.arlo#arlo .arlo-contrast-color,
.arlo#arlo .upcoming .arlo-button.arlo-waiting-list:hover,
.arlo#arlo .prev.page-numbers:hover, 
.arlo#arlo .next.page-numbers:hover,
.arlo#arlo .arlo-button.arlo-waiting-list:hover,
.arlo#arlo .arlo-list.catalogue .arlo-next-running a:hover,
.arlo#arlo .arlo-list.event-search .arlo-next-running a:hover,
.arlo#arlo .arlo-list.schedule .arlo-next-running a:hover,
.arlo#arlo .arlo-suggest-template-container .arlo-suggest-templates .arlo-suggest-template-event-link a:hover,
.arlo#arlo .arlo-advertised-duration,
.arlo#arlo .arlo-advertised-price,
.arlo#arlo .arlo-event .arlo-event-full,
.arlo#arlo .arlo-event_tags-list > li,
.arlo#arlo .arlo-event-credits li,
.arlo-widget-upcoming .arlo-cal-month,
.arlo-categories-widget li a:hover,
.arlo#arlo .arlo-oa-registration .arlo-register {
    color: white;
}

.arlo#arlo .arlo-contrast-background,
.arlo#arlo .upcoming .arlo-cal .arlo-day:after {
    background-color: white;
}



/* Suggest templates */

.arlo#arlo .arlo-suggest-template-container .arlo-suggest-templates tr td,
.arlo#arlo .arlo-suggest-template-container .arlo-suggest-templates tr td:first-of-type {
    border-bottom: 1px solid white;
}

.arlo#arlo .arlo-suggest-template-container .arlo-suggest-templates tr td:first-of-type {
    border-left-width: 2px;
}

.arlo#arlo .arlo-suggest-template-container .arlo-suggest-templates .arlo-suggest-template-event-link {
    text-align: right;
    font-size: 0.8em;
}

.arlo-breadcrumbs ul{
    list-style: none;
    padding-left: 0;
    margin: 1em 0;
}
.arlo-breadcrumbs li{
    display: inline-block;
}
.arlo-breadcrumbs li:not(:last-child)::after{
    content: '>';
    padding-left: 3px;
    padding-right: 5px;
}

.arlo-single-show-wrapper{
  clear: both;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 5px;
}
